.note {
  color: #333;
}


.image-remove {
  cursor: pointer;
  display: inline-block;
  height: 150px;
  width: 150px;
  position: relative;
}
.image-remove:hover {
  opacity: .7;
  z-index: 10;
  outline: 1px solid #999;  
}
.image-remove:hover::after {
  content: url("../../img/trash-icon.png");
  position: absolute;
  top: 43px;
  left: 43px;
  background-color:#fff;
  outline: 1px solid #999;  
  padding: 5px;
}