html {
    background: #efefef;
    margin: 0;
    padding: 0;
}

body {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    background-color: #d6d6d6;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}
