* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Caudex', serif;;
	color: #666;
	background-color: #e7e7e7;
	background: rgba(239,239,239,1);

}

header {
	background-color: #fff;
	font-family: 'Gilda Display', serif;
}

header h1 {
	text-align: center;
	color: #8fa59d;
	padding: 0.8em 0 0.6em 0;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

a {
	text-decoration: none;
}

nav {
	padding: 1.3em 0 1em 0;
	margin-bottom: 1em;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	font-size: 0.8em;
	text-align: center;
	text-transform: uppercase;
}
nav a {
	color: #666;
	padding: 0 1em;
	letter-spacing: 0.3em;
}
nav .selected {
	text-decoration: none;
	color: #7c8f88;
	font-style: italic;
	padding-right: 1.3em;
}
h3 {
	margin: 0;
	line-height: 1em;
	text-align: center;
}

h3 a {
	color: #666;
	font-family: 'Gilda Display', serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 0.7em;
}

h3 a:hover {
	color: #8165b6;
}
.feature-image {
	float: left;
	width: 500px;
	margin-right: 1em;
	border: 1px solid #e8e8e8;
	background-color: #fff;
}

.page {
	max-width: 940px;
	margin: 0 auto;
	padding-top: 2em;
}

.item {
	width: 200px;
	float: left;
	overflow: hidden;
	margin: 1em;
}
.item img {
	width: 200px;
	border: 1px solid #e2e2e2;
}

.date, .author {
	font-style: italic;
	font-size: 0.8em;
	color: #999;
}

h2 {
	margin-top: 2.4em; 
	margin-bottom: 1.4em;
	color: #7c8f88;
}


.content {
	margin-top: 2.4em;
	line-height: 1.3em;
}

.related-articles {
	clear: both;
	padding-top: 2em;
	text-align: center;
}

.related-articles .article-summary {
  width: 28%; float: left;
  margin: 2%;
  text-align: center;
  background-color: #fff;
  padding: 1em 0em;
  border: 1px solid #e8e8e8;
}
.article-summary .image {
	display: inline-block;
	margin: 0 auto;
}

footer {
	clear: both;
	padding: 1em;
	border-top: 1px solid #d6d6d6;
	background-color: #fff;
	text-align: center;
	margin-top: 2em;
	font-family: 'Gilda Display', serif;
}

.danger, .error {
    color: red;
}

.success {
    color: green;
}

.left {
padding-left:10px;
}

.tleft {
    text-align:left;
}

.box {
    width:800px;
}

h3 {
    text-decoration:underline;
}

.float-right{
    float:right;
}
.lnk {
    position:relative;
    left:10px;
}

.bold {
  font-weight:bold;
  margin-left:10px;
}

.comment_name {
  color:orange;
  font-family:Arial;
  font-weight:bold;
}

.small_image {
    float:left;
    height: 50px;
    border:1px solid gray;
    padding: 10px 10px 10px 10px;
}

.small_name {
    float:left;
    margin-left: 5px;
}

.comment-box {
    /*float: left;
    margin-left: 10px;*/
    list-style: none;
    margin-bottom: 10px;
      list-style-type:none;
                  
 
}

.comment_reply {
    clear:both;
margin-top: 10px;

margin-left: 10px;
display: block;
}

 .comment_reply_below {
    clear:both;
padding-top: 8px;

margin-left: 10px;
display: block;
}


.down {
margin-top: 10px;
}
.border-box {
     border-top:1px solid gray !important; 

}

 .comment-box ol.children {
        list-style:  none;

                    
        margin-left: 0;
    }

   .comment-box .depth-1  {
                       
                            margin-left: 1.5rem !important;   
        }

      .comment-box .depth-2  {
           margin-left: 1.5rem !important;   
        }



.highlight {
    text-decoration: underline;
    font-weight: bold;

}

label {
display:block;
position:relative;
padding-left:120px; /* adjust if necessary */
padding-top:20px;
}
label > span {
position:absolute;
left:0;
}

.login-form {
 margin-left: 120px;
  margin-top: 10px;
}

.login-form label,  .login-form a {
 padding-left: 10px;
}

.login-form button,  .login-form input {
 margin-left: 10px;
}

fieldset {
    width: 500px;
}

legend {
    margin-left:10px;
}

.title-error {
    margin-left: 10px;
    color:red;
}

.link-style {
    font-weight: bold;
    text-decoration: underline;
}

.content-page {
    padding-left:10px;
    width:820px;
}

.comment-total {
 float:left; padding-right: 30px;
}

.heading {
    text-align:left;

}

.paginator {
    clear: both;
    padding-left: 10px;
    padding-top: 10px;
}

.content-box {
display:block;float:left; padding: 10px; 
}