* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', verdana, arial, sans-serif;
	background-color: #ecf0f1;
	color: #666;
}

header {
	background-color: #212121;
	color: #fff;
	text-align: center;
	padding: 0.2em;
}
h1 {
	display: inline-block;
	padding: 0.4em;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	color: #8cc85e;
}
h2 {
	text-transform: uppercase;
	font-size: 1.2em;
	color: #666;
}
nav {
	display: inline;
	padding: 0 0 .4em 0;
	padding-bottom: 1em;
}
nav a {
	color: #d6d6d6;
	text-decoration: none;
	display: inline-block;
	padding: 0 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.9em;
}
nav a:hover {
	color: #8cc85e;
}
.media-thumb {
	width: 200px;
	height: 150px;
	border: 1px dotted #666;
	overflow: hidden;
}

.modal-close {
	display: block;
	clear: both;
}
.new {
	text-align: center;
	background: none;
}
.gallery img {max-width: 100px;}

.button {
    background-color: #8cc85e;
    color: #fff;
	border-radius: 3px;
	border: none;
	font-size: 0.7em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 3px 5px;
	letter-spacing: 0.1em;
}
.button:hover {
	background-color: #78ab50;
	cursor: pointer;
}
div {
	background-color: #fff;
}
.panel {
	margin: 1em auto 1em auto;
	outline: 1px solid #e8e8e8;
	border: 2em solid #fff;
	width: 80%;
	overflow: hidden;
}
form {
	line-height: 2em;
}
table {
	border-collapse: collapse;
	background-color: #fff;
	margin: 1em auto 1em auto;
	border: 2em solid #fff;
	width: 90%;
}
table img {
	max-width: 100px;
}
th {
	text-align: left;
	border-bottom: 1px solid #d9d9d9;
	color: #888;
}
th, td {
	border-spacing: 0;
	border-collapse: collapse;
	padding: 7px;
}
td {
	border-bottom: 1px dotted #d6d6d6;
}
td img {
	margin: 0.2em;
	border: 1px solid #efefef;
}
nav a.current {
	text-decoration: none;
}

.thumb {max-width: 120px;}

.gallery div {
	width: 110px;
	float: left;}

.modal {
	position: absolute;
	z-index: 1000;
	padding: 50px;
	background-color: #555;}

#featured-image-input {
	border: none;
	width: 100%;
}

.contentbox {
	width: 70%;
	height: 10em;
}
.col-2 {
	width: 50%;
	float: left;
}

label {
	display: inline-block;
	width: 8em;
	text-align: right;

}

#featured-image {
	max-width: 100px;
}

.save {
	float: right;
}

.success, .error {
	padding: 10px; 
	margin: 10px;}
.success {
	background-color: #ccffdd; 
}
.error {
	background-color: #ffdd88; 
}