RewriteEngine On
RewriteRule ^recipes/([^/.]+)/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^recipes/([^/.]+)/([^/.]+)/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^recipes/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^login/([^/.]+)/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^login/([^/.]+)/([^/.]+)/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^login/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^profile/([^/.]+)/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^profile/([^/.]+)/([^/.]+)/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^profile/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^register/([^/.]+)/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^register/([^/.]+)/([^/.]+)/?$ /code/chapter_12/pages/index.php [NC,L]
RewriteRule ^register/?$ /code/chapter_12/pages/index.php [NC,L]

