#rich-text-container {
  max-height: 400px;
  height: 400px;
  background-color: white;
  border-collapse: separate; 
  border: 1px solid rgb(204, 204, 204); 
  padding: 4px; 
  box-sizing: content-box; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

    body {
        min-height: 2000px;
        padding-top: 70px;
      }
      .red{
        color:red;
      }
        .nav > li > a 
        {
            line-height: 20px;
            padding-top: 15px !important;
            padding-bottom: 15px !important;
        }
        td
        {
            padding-right:10px !important;
        }

            .contentbox{
        height:400px;
        width:800px;
    }

            .div_pos {
    display: inline-block;
    width: 110px;
}

.img_pos{ width:100px; float:left; margin-right:10px;}

.label_pos {font-weight:bold; font-size:12px; background-color:lightgray;}

.radio_pos {
    font-weight: bold;
    font-size: 12px;
    background-color: lightgray;
}

.image_wall { 
    width:950px; overflow:hidden; background-color:lightgray; padding-left:10px; padding-top: 10px;
}