#rich-text-container {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate; 
  border: 1px solid rgb(204, 204, 204); 
  padding: 4px; 
  box-sizing: content-box; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

    body {
        min-height: 2000px;
        padding-top: 70px;
      }
      .red{
        color:red;
      }
        .nav > li > a 
        {
            line-height: 20px;
            padding-top: 15px !important;
            padding-bottom: 15px !important;
        }
        td
        {
            padding-right:10px !important;
        }

            .contentbox{
        height:400px;
        width:800px;
    }