.list_box {
    width: 250px;
    font-size: 10px;
    word-wrap: break-word;
    border: 1px solid gray;
    padding-right: 40px;
}

.likes_box {
    font-size: 10px;
    color: #666;
    background: #f6f7f8;
    margin-top: 5px;
}

.img {
    font-weight: bold;
    font-size: 11px;
    color: black;
    margin-top: 5px;
    border-bottom: 1px solid #dddddd;
}

.name_box {
    float: right;
    color: black;
    padding-bottom: 4px;
    font-size: 12px;
}

.first_box {
    font-size: 10px;
    color: #666;
    background: #f6f7f8;
    margin-top: 5px;
}

.cmt1 {
    font-weight: bold;
    font-size: 10px;
    margin-top: 5px;
    padding-left: 5px;
    background: #f6f7f8;
    color: #666;
    border-bottom: 1px solid #dddddd;
}

.cmt2 {
    font-weight: bold;
    font-size: 10px;
    color: black;
    padding-top: 5px;
    padding-left: 5px;
    background: #f6f7f8;
    padding-bottom: 5px;
}

.date_box {float:right; font-size:10px;background:#f6f7f8; padding-bottom: 5px;}

.rbox{float:right; color:black; font-size: 11px}

.left {
    float: left;
}

.gray {color:#666;
}

.none {
    list-style-type: none;
}

.left30 {
    float: left;
    width: 30px;
}