RewriteEngine On                           # Turn on the rewriting engine

# Home page
RewriteRule ^/?$     		           index.php        	        [NC,L]

# Pages in the main navigation
RewriteRule ^about/?$    	           article.php?title=about 	[NC,L]
RewriteRule ^contact/?$  	           article.php?title=contact    [NC,L]

# Admin pages are ignored
RewriteRule ^admin/?$   	           admin/article.php      	[NC,L]
RewriteRule ^admin/([A-z0-9\-\.]+)/?$      admin/$1                     [NC,L]

# Membership pages
RewriteRule ^login/?$   	           members/login.php      	[NC,L]
RewriteRule ^logout/?$   	           members/logout.php   [NC,L]
RewriteRule ^register/?$  	           members/register.php      	[NC,L]
RewriteRule ^lost-password/?$              members/logout.php      	[NC,L]
RewriteRule ^reset-password/?$   	   members/reset-password.php     [NC,L]

# Likes and comments
RewriteRule ^like/?$   		           members/like.php      		[NC,L,QSA]
RewriteRule ^unlike/?$   	           members/like.php     	        [NC,L,QSA]
RewriteRule ^add_comment/?$                members/add-comment.php?id=$1  [NC,L,QSA]
RewriteRule ^add_comment_reply/?$                members/add-comment-reply.php?id=$1  [NC,L,QSA]

# Search
RewriteRule ^search/?$ 		           search.php 		        [NC,L,QSA]

# Member profiles
RewriteRule ^users/?$  	                   users/user-list.php          [NC,L,QSA]
RewriteRule ^users/([A-z0-9\-]+)/?$  	   users/user.php?name=$1       [NC,L,QSA]

# Category pages
RewriteRule ^([A-z0-9\-]+)/?$    	   view-category.php?name=$1        [NC,L,QSA]

# Article pages
RewriteRule ^[A-z0-9\-]+/([A-z0-9\-]+)/?$  view-article.php?title=$1         [NC,L]
