RewriteEngine On
RewriteRule ^recipes/([^/.]+)/?$ /cmsfull/pages/index.php [NC,L]
RewriteRule ^recipes/([^/.]+)/([^/.]+)/?$ /cmsfull/pages/index.php [NC,L]
RewriteRule ^recipes/?$ /cmsfull/pages/index.php [NC,L]
RewriteRule ^login/([^/.]+)/?$ /cmsfull/pages/index.php [NC,L]
RewriteRule ^login/([^/.]+)/([^/.]+)/?$ /cmsfull/pages/index.php [NC,L]
RewriteRule ^login/?$ /cmsfull/pages/index.php [NC,L]

